<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="logging/logback-properties.xml"/>

    <!-- appender -->
    <include resource="logging/logback-default-console-appender.xml"/>

    <!-- logger -->
    <logger name="com.my" level="DEBUG"/>

    <!-- root -->
    <root level="INFO">
        <appender-ref ref="DEFAULT_CONSOLE"/>
    </root>
</configuration>
