<?xml version="1.0" encoding="UTF-8"?>

<included>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <pattern>
                    <pattern>${CONSOLE_LOG_PATTERN}</pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>
</included>
